# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear

# Temporary files created by developers
*.swp
*.swo
*~

# Intellij IDEA - Specific files
.idea/
*.ipr
*.iws
*.iml

# Eclipse - Specific files
.classpath
.project
.settings/
bin/

# Netbeans - Specific files
nbproject/
build/
dist/

# Maven - Specific files
/target/

# Gradle - Specific files
.gradle
/build

# Operating System Files
.DS_Store
Thumbs.db